
body {
    padding-top: 3rem;
}


.container ul{
    list-style: none;
}

.container ul li{
    display: inline-block;
    margin: 0 1rem;
}

.main{  
    border-radius: 5px;
    background: #EEE;
    margin: 0 auto;
    width: 600px;
    box-sizing: border-box;
    padding: 2rem;
}

.image-temp{
    margin: 0 auto;
    height: 300px;
    max-width: 300px;
    margin-bottom: 2rem;
}

.btn{
    margin: 1rem 1rem 0;
}